html,body {
	size: 100%;
}

@font-face {
	font-family: 'Bauhaus 93';
	font-style: normal;
	font-weight: bolder;
	src: local('Bauhaus 93'), url('./containers/BAUHS93.TTF') format('TTF');
}

h1 {
	font-family: 'Bauhaus 93';
	transform: scale(1);
}


